@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');




body{
    background-color: grey;
}

html, body{
    margin: 0%;
}

header{
    text-align: center;
    background-color: darkgray;
    padding: 20px;
}

header img{
    width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
}

header h1{
    font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}